<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessData.Properties.Settings.DB_PaloquemaoConnectionString"
            connectionString="Data Source=XIBALBA;Initial Catalog=DB_Paloquemao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>